<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wiadth=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Animal</title>
</head>
<body>
        <button><a href= "/"> Home </a></button><br>
        <h1>Animal: <%= animals.name %></h1>
          
            <h2>ABOUT</h2>
                     <p> <%= animals.about %> </p><br>
    </body>
</html>