<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wiadth=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Animal</title>
</head>
<body>
<button><a href= "/"> Home </a></button><br><br>

        <form action ="/new" method = "POST">
            Name:<input name = "name" type = "text" placeholder="Animal Name"><br><br>
            About: <br> <textarea name = "about" type = "text" rows = "4" cols = "50" placeholder="About Animal"></textarea><br><br>
            <input type = "submit" value = "Add Animal"><br><br>
        </form> 

</body>
</html>